script src="js/menutoggle.js"
div.wrapper
    header.mobile
        i.material-icons onclick="toggleMenu()" menu
    div.mobilemenu
        div.closebutton
            i.material-icons onclick="toggleMenu()" chevron_left
        a.navlink href="index.html" Startsida
        a.navlink href="verksamhet.html"  Verksamhet
        a.navlink href="personal.html"  Personal
        a.navlink href="kontakt.html" Kontakt
        a.navlink href="blanketter.html" Blanketter
        a.navlink href="länkar.html" Länkar
        / img src="img/logo.png" alt="Logga"
    main
