@media only screen and (max-device-width: 500px) {
    body {
        /* background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 32%, rgba(33,181,226,1) 64%, rgba(26,93,112,1) 100%); */
        background-color: #e1e1e1;
        margin: 0;
        min-height: 100vh;
        height: auto;
        font-family: 'Roboto', sans-serif;
    }

    a {
        text-decoration: none; 
        color: black;
    }
    p {
        font-family: 'Roboto' sans-serif;
        font-weight: 300;
    }
    div.wrapper {
        min-height: 58vh;
        height: auto;
        padding-top: 27vh;
    }
    /* Footer */
    /* #region */
    footer {
        min-height: 100px;
        height: 15vh;
        width: 100vw;
        background-color: #222222;
        color: white;
        text-align: center;
        box-sizing: border-box;
        display: grid;
        grid-row-gap: 10px;
        grid-template-rows: 0 1fr 1fr;
        grid-template-columns: repeat(6,1fr);
    }
    footer a {
        grid-row: 1/5;
        grid-column: span 2;
        margin-top: 5px;
    }
    footer i {
        font-size: 2.25em !important;
        color: #21B5E2;
        grid-row: 2;
        grid-column: span 2;
        margin-top: 5px;
    }
    footer h4 {
        margin: 0;
        justify-content: left;
    }
    footer p {
        font-family: 'Roboto', sans-serif;
        color: white;
        font-weight: 300;       
        grid-row: 3;
        margin-top: 12px;
    }
    footer p.facebook {
        grid-column: 5/7;
    }

    footer p.adress {
        grid-column: 3/5;
    }
    
    footer p.phone {
        grid-column: 1/3;
    }

    @media only screen and (max-device-width: 410px) {
        footer {
            display: grid;
            height: 195px;
            grid-template-rows: 0 repeat(4,1fr);
        }

        a.adress {
            grid-row: 3/6;
        }
        /* 
        i#contacticon {
            grid-column: 2;
        }
        footer p.phone {
            grid-column: 1/4;
        }
        i#adressicon {
            grid-column: 3/5;
            grid-row: 4;
        }
        footer p.adress {
            grid-column: 3/5;
            grid-row: 5/6;
        }
        i.fab.fa-facebook-square {
            grid-column: 5;
        }
        footer p.facebook {
            grid-column: 4/7;
        } */
        
    }
    /* #endregion */
    
    /* Header */
    /* #region */
    header.mobile {
        height: 27vh;
        width: 100vw;
        position: fixed;
        display: grid;
        grid-template-rows: repeat(10,3vh);
        grid-template-columns: 20px auto 20px;    
    }

    header.mobile i.material-icons {
        /* font-size: 2.5rem; */
        font-size: 5vh;
        color: rgba(0, 0, 0, 0.54);
        display:flex;
        justify-content:center;
        align-items:center; 
        grid-row: 2;
        grid-column: 2;
    }

    header.mobile a.homebtn {
        grid-row: 2;
        grid-column: 4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header.mobile nav {
        background-color: white;
        min-height: 40px;
        height: 6vh;
        grid-row: 8/9;
        grid-column: span 3;
        display: grid;
        grid-template-columns: 0rem 3rem auto 3rem 0rem;
        grid-template-rows: 0rem 1fr 0rem;
        grid-column-gap: 1rem;
    }

    header.mobile div.coverimg {
        height: 21vh;
        background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 32%, rgba(33,181,226,1) 64%, rgba(26,93,112,1) 100%);
        
        grid-column: span 3;

    }

    header.mobile div.logoimg {
        height: 13.5vh;
        width: 100%;
        background-color: black;
        grid-row: 3/6;
        grid-column: 2;
    }

    div.logoimg img {
        background-color: white;
        height: inherit;
        width: inherit;
    }
    /* #endregion */

    /* Menu */
    /* #region */
    div.mobilemenu {
        height: 0;
        width: 100vw;
        background-color: #1a5d70;
        transition: height 0.35s;
        overflow: hidden;
        grid-row: 10;
    }
    
    div.show {
        height: 281px;
    }

    div.mobilemenu ul {
        margin: 0;
        list-style: none;
        text-decoration: none;
        }

    div.mobilemenu ul li {
        margin: 24px 0px;
    }
    
    .navlink {
        font-size: 1em;
        text-decoration: none;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    /* #endregion */

    /* index.html */
    /* #region */
    div.main {
        display: grid;
        grid-template-columns: 0 1fr 0;
        grid-template-rows: 0 repeat(3,auto);
        grid-column-gap: 20px;
    }

    div.infotext {
        padding: 20px;
        line-height: 1.4em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        grid-column: 2;
        grid-row: 2;
    }

    div.circlenav {
        display: grid;
        grid-template-rows: 170px 1fr;
        grid-template-columns: 170px 1fr 1fr 170px;
    }

    div.pic {
        height: 170px;
        width: 170px;
        background-color: black;
        border-radius: 50%;
        grid-row: span 2;
    }

    a#pic1 div.pic {
        background-image: url('../img/verksamhet.jpg');
    }

    a#pic1 {
        grid-column: 1;
        grid-row: span 2;
    }

    a#pic1 div.pic1info {
        text-align: center;
        grid-row: 2;
        grid-column: 1;
    }

    div.pic1info h3 {
        margin: 6px 0 4px 0;
    }

    div.pic1info p {
        margin: 0;
    }

    a#pic2 div.pic2info {
        text-align: center;
        grid-row: 2;
        grid-column: 4;
        margin: 0 !important;
    }

    div.pic2info h3 {
        margin: 6px 0 4px 0;
    }

    div.pic2info p {
        margin: 0;
    }
    a#pic2 div.pic {
        background-image: url('../img/blanketter.jpg');
    }

    a#pic2 {
        grid-column: 4;
        grid-row: span 2;
    }

    @media only screen and (max-device-width: 430px) {
        div.circlenav {
            display: grid;
            grid-template-rows: 170px 1fr 170px 1fr;
            grid-template-columns: 170px;
            justify-content: center;
        }
    
        div.pic {
            height: 170px;
            width: 170px;
            background-color: black;
            border-radius: 50%;
            grid-row: span 1;
        }
    
        a#pic1 {
            grid-column: 1;
            grid-row: span 2;
            margin-bottom: 10px;
        }

        a#pic1 div.pic {
            background-image: url(/site/img/verksamhet.jpg);
        }
    
        div.pic1info {
            text-align: center;
            grid-row: 2;
            grid-column: 1;
        }
    
        div.pic1info h3 {
            margin: 6px 0 4px 0;
        }
    
        div.pic1info p {
            margin: 0;
        }
    
        div.pic2info {
            text-align: center;
            grid-row: 2;
            grid-column: 1;
            margin: 0 !important;
        }
    
        div.pic2info h3 {
            margin: 6px 0 4px 0;
        }
    
        div.pic2info p {
            margin: 0;
        }
        a#pic2 {
            grid-column: 1;
            grid-row: span 2;
        }

        a#pic2 div.pic {
            background-image: url(/site/img/blanketter.jpg);
        }
    }
    div.infotext h2 {
        text-align: center;
    }
    div.news {
        grid-row: 3;
        grid-column: 2;
        padding: 0 20px 0 20px;
    }
    div.news h1 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }

    div.news article {
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 20px;
        line-height: 1.4em;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-bottom: 30px;
        border-radius: 5px;
    }

    div.news article h2 {
        text-align: center;
        margin-bottom: 5px;
    }

    div.news article h3 {
        text-align: center;
        margin: 0 0 0 0;
        color: #1a5d70;
    }

    div.news a {
        font-weight: 400;
    }

    div.news article span {
        float: right;
    }
    /* #endregion */

    div.blanketter {
        padding: 20px 40px 40px 40px;
    }

    div.blanketter h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }

    div.blanketter a {
        text-decoration: underline;
    }

    .blomman {
        display: none;
    }
    /* personal.html */
    /* #region */
    div.personal {
        padding: 20px 40px 40px 40px;
        display: grid;
    }

    div.personal h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }

    article.usercard {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
        padding: 30px;
        display: grid;
        grid-template-columns: auto auto;
        margin-bottom: 30px;
        max-width: 420px;
        width: 72vw;
        border-radius: 5px;
    }

    article.usercard div.info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        border-left: #1a5d70 solid 1px;
    }

    article.usercard img {
        border-radius: 50%;
    }
    div.info p {
        margin: 5px 0 5px 0;
        overflow-wrap: break-word;
    }
    /* #endregion */
    div.kontaktinfo h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }

    div.kontaktinfo {
        padding: 20px 40px 40px 40px;
    }

    div.lankar h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }

    div.lankar {
        padding: 20px 40px 40px 40px;
    }

    div.newspage h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }
    div.newspage {
        padding: 20px 40px 40px 40px;
    }
    div.verksamhet h2 {
        text-align: center;
        border-bottom: #1a5d70 solid 3px;
        padding-bottom: 10px;
    }
    div.verksamhet {
        padding: 20px 40px 40px 40px;
    }
}
@media only screen and (min-device-width: 500px) {
    body {
        background-color: black;
    }
}