@media only screen and (max-device-width: 455px) {
    body {
        background-color: lightskyblue;
        margin: 0;
        height: 150vh;
    }

    div.wrapper {
        height: auto;
    }

    header.mobile {
        height: 27vh;
        width: 100vw;
        background-color: hotpink;
        position: fixed;
        display: grid;
        grid-template-rows: repeat(10,3vh);
        grid-template-columns: 20px auto 20px;    
    }

    header.mobile i.material-icons {
        /* font-size: 2.5rem; */
        font-size: 5vh;
        color: rgba(0, 0, 0, 0.54);
        display:flex;
        justify-content:center;
        align-items:center; 
        grid-row: 2;
        grid-column: 2;
    }

    header.mobile nav {
        background-color: white;
        height: 6vh;
        grid-row: 8/9;
        grid-column: span 3;
        display: grid;
        grid-template-columns: 0rem 3rem auto 3rem 0rem;
        grid-template-rows: 0rem 1fr 0rem;
        grid-column-gap: 1rem;
    }

    header.mobile div.coverimg {
        height: 21vh;
        background-color: grey;
        grid-column: span 3;

    }

    header.mobile div.logoimg {
        height: 13.5vh;
        background-color: black;
        grid-row: 3/6;
        grid-column: 2;
    }

    div.mobilemenu {
        height: 0;
        width: 100vw;
        background-color: white;
        transition: height 0.35s;
        overflow: hidden;
        grid-row: 10;
    }
    
    div.show {
        height: 30.5vh;
    }

    div.mobilemenu ul {
        margin: 0;
        list-style: none;
        text-decoration: none;
        }

    div.mobilemenu ul li {
        margin: 3vh 0px;
    }
    .navlink {
        font-size: 2.1vh;
        text-decoration: none;
        color: gray;
        font-family: Roboto;
        font-weight: 500;
    }

    div.logoimg img {
        background-color: white;
        height: inherit;
    }

    div.main {
        height: 50vh;
        background-color: red;
        padding-top: 27vh;
    }

    p {
        margin: 0;
    }

}